/*
	Theme Name: Cuda

*/

*, *:before, *:after {
	box-sizing: border-box;
} 

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Titillium Web', sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.row:after {
	content: '';
	display: block;
	clear: both;
}

.container {
	padding: 0 5px;
	margin: 0 auto;
}

.section-padding {
	padding: 70px 0;
}

.section-title {
	text-transform: uppercase;
	text-align: center;
}

.st-light {
	color: #fff;
}

.st-dark {
	color: #3c4761;
}

.section-p {
	text-align: center;
	display: block;
	width: 96%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.line {
	width: 50px;
	height: 3px;
	margin: 10px auto;
}

.line-green {
	background-color: #14a58c;
}

.line-grey {
	background-color: #c8d9e5;
}

.line-lightgrey {
	background-color: #dfe8ed;
}

.line-yellow {
	background-color: #e5c37f;
}

.line-pink {
	background-color: #b73c6d;
}

.line-blue {
	background-color: #273a71;
}

.btn {
	display: block;
	max-width: 250px;
	margin: 50px auto 0 auto;
	padding: 20px 0;
	border-radius: 5px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

.btn-orange {
	background-color: #eb7d4b;
	border-bottom: 3px solid #c86a40;
}

.btn-green {
	background-color: #17c2a4;
	border-bottom: 3px solid #14a58c;
}

.btn-blue {
	background-color: #30bae7;
	border-bottom: 3px solid #299ec5;
}

.top-scroll {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	border-bottom: 3px solid rgba(194, 194, 194, 0.5);
	background-color: rgba(194, 194, 194, 0.5);
	text-align: center;
	z-index: 1;
}


.top-scroll:hover {
	background-color: rgba(194, 194, 194, 0.8);
	cursor: pointer;
}

.top-scroll img {
	width: 32px;
	height: 32px;
	margin: 9px 9px; 
}

/* ========== HEADER ========== */

.main-header {
	padding: 15px 5px;
	background-color: #30bae7;
}

.home .main-header {
	background-color: #87509c;
}

.site-title {
	text-align: center;
	color: #fff;
}

/* Mobile Menu */

.mobile-menu {

}

.mobile-menu-button {
	border: none;
	border-radius: 5px;
	display: block;
	width: 100%;
	margin: 15px auto 0 auto;
	padding: 5px;
	font-size: 18px;
	text-transform: uppercase;
	background-color: #a6ddef;
	border-bottom: 3px solid #81d4ef;
}

.home .mobile-menu-button {
	background-color: #643a79;
	border-bottom: 3px solid #5d3671;
}

.main-menu {
	display: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #a6ddef;
}

.home .main-menu {
	background-color: #643a79;
}

.main-menu li {
	text-align: center;
	padding: 5px 10px;
	text-transform: uppercase;
}

.main-menu li a {
	color: #fff;
}

/* ========== WELCOME ========== */

.welcome {
	background-color: #87509c;
	color: #fff;
	text-align: center;
	padding: 100px 20px 150px 20px;
}

.welcome h1 {
	
	
}

.welcome h2 {
	 
}

/* ========== SERVICES ========== */

.services {
	background-color: #17c2a4;
}

.service {
	width: 80%;
	margin: 0 auto 50px auto;
	text-align: center;
}

.service:last-child {
	margin-bottom: 0;
}

.service img {
	height: 120px;
	width: auto;
}

.service h1 {
	text-transform: uppercase;
}

/* TEAM */

.team {
	background-color: #e7f1f8;
}

.team h1 {
	font-size: 24px;
}

.team h2 {
	color: #30bae7;
	font-size: 18px;
	font-weight: 400;
}

.team .team-contact {
	margin: 20px auto 0 auto;
	width: 143px;
}

.team a {
	float: left;
	margin-right: 5px;
	width: 32px;
	height: 32px;
	display: block;
	background-color: #bdd1df;
	border-radius: 90px;
}

.team a:last-child {
	margin-right: 0;
}

.team a:hover {
	background-color: #30bae7;
}

.team-contact img {
	display: block;
	height: 12px;
	width: auto;
	margin: 10px auto;
}

/* SKILLS */

.skills {
	background-color: #fff;
}

.circle {
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}

.circle span {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
} 

.circle-value {
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	bottom: 50px;
	left: 50px;
}

#circle-1, #circle-2, #circle-3, #circle-4 {
	position: relative;
	height: 150px;
	width: 150px;
	margin: 0 auto;
}

/* Portfolio */

.portfolio {
	background-color: #ffdd99;
}

.portfolio-tags {
	width: 50%;
	margin: 0 auto 50px auto;
}

.portfolio-tags li {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.portfolio-tag {
	width: 100%;
	display: block;
	color: #393939;
	background-color: #ebc985;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
}

.active-tab {
	background-color: #fff;
}

.portfolio-tags li:last-child {
	margin-bottom: 0;
}

.works {

}

.work-content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.work-content:last-child {
	margin-bottom: 0;
}

.work-content a {
	display: block;
	color: #393939;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.work-content a:hover {
	color: #978257;
}

.work-thumbnail img {
	width: 100%;
	height: auto;
}

/* TESTIMONIALS */
.testimonials {
	background-color: #d74680;
}

.testimonials a {
	color: #fff;
}

.testimonials .readmore {
	color: #fff;
	font-weight: 600;
}

.testimonials .readmore:hover {
	color: #8b3155;
}

.testimonials .testimonial-content {
	font-style: italic;
}

.testimonials .testimonial-name {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
}

.testimonials .testimonial-company {
	color: #ffdd99;
	font-weight: 400;
}

/*.testimonials .strong-view.default .testimonial {
	border: none;
	width: 80%;
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: 50px; 
}

.testimonials .strong-view.default .testimonial:last-child {
	margin-bottom: 0px;
}

.testimonials .strong-view.default .testimonial-inner {
	border: none;
	padding: 0;
}

.testimonials .strong-view.default .testimonial-image img {
	border-radius: 90px;
	border: none;
}


.testimonials .strong-view.default .testimonial-client {
	text-align: left;
}

.testimonials .readmore {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	margin-left: 5px;
}

.testimonials .readmore:hover {
	text-decoration: underline;
}*/

/* ========== FOOTER ========== */

.contact {
	background-color: #3c5499;
	padding-bottom: 0;
}

/* Wpcf7 Edit Style */

.wpcf7-form label {
	display: block;
	text-align: center;
}

.wpcf7-form-control {
	border: none;
	border-radius: 5px;
	background-color: #273a71;
	color: #fff;
	padding: 5px 10px;
	display: block;
	font-family: 'Titillium Web', sans-serif;
}

.wpcf7-form-control::placeholder {
	color: #fff;
}

.wpcf7-form-control::-ms-input-placeholder {
	color: #fff;
}

.wpcf7-text {
	height: 40px;
}

.wpcf7-text, .wpcf7-textarea {
	width: 80%;
	margin: 0 auto 10px auto;
}

.wpcf7-textarea {
	margin-bottom: 30px;
}

.wpcf7-submit {
	display: block;
	width: 250px;
	margin: 50px auto 0 auto;
	padding: 20px 5px;
	border-radius: 5px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background-color: #30bae7;
	border-bottom: 3px solid #299ec5;
	font-size: 18px;
	font-weight: 600;
}

.wpcf7-not-valid-tip {
	text-align: center;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
	width: 80%;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	border: 2px solid #30bae7;
	border-radius: 5px;
}

div.wpcf7 .ajax-loader {
	display: block;
	height: 32px;
	width: 32px;
	margin: 15px auto;
	background-image: url('assets/img/loader.svg');
	background-size: 100%;
}

/* Social Media */

.social-media {
	background-color: #344b8e;
	padding: 15px 0;
	text-align: center;
	margin-top: 70px;
}

.social-media li {
	text-align: center;
	padding: 5px 0;
}

.social-media a {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}

.social-media a:hover {
	color: #30bae7;
}

/* ========== BLOG ========= */

.blog-posts {
	background-color: #e7f1f8;
}

.posts, .sidebar {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.posts {
	margin-bottom: 30px;
}

.sidebar {
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
}

.sidebar a {
	color: #3c4761;
}

.sidebar a:hover {
	color: #15c7a8;
}

.widget {
	margin-bottom: 20px;
}

.widgettitle {
	border-radius: 5px;
	text-align: center;
	background-color: #dfe8ed;
	font-size: 20px;
	width: 100%;
	margin-bottom: 10px;
}


/* TEMPLATE PARTS */

/* Content */

.post {
	width: 100%;
	margin-bottom: 20px;	
}

.post:last-child {
	margin-bottom: 0;
}

.post-header {
	padding: 15px 10px;
	font-weight: 600;
	text-transform: uppercase;
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	background-color: #17c2a4;
}

.post-header a:hover {
	color: #bfe8e1;
}

.post-title {
	display: inline-block;
}

.post-container {
	padding: 30px;
	background-color: #fff;
}

.post-left {
	float: left;
	width: 100%;
}

.post-thumbnail img {
	display: block;
	width: 100%;
	height: auto;
}

.post-right {
	float: left;
	width: 100%;
}

.post-right img {
	width: 100%;
	height: auto;
}

.post-right p {
	font-weight: 400;
	color: #3c4761;
}

.post-right .more-link {
	display: block;
	max-width: 200px;
	margin: 50px auto;
	border-radius: 5px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background-color: #17c2a4;
	border-bottom: 3px solid #14a58c;
}

.post-author {
	margin-top: 5px;
}

.post-author, .post-date {
	margin-bottom: 5px;
}

.post-tags {
	width: 100%;
}

.post-tags a {
	display: block;
	float: left;
	margin-right: 5px;
	padding: 5px;
	border: 1px solid #15c7a8;
	border-radius: 5px;
	font-weight: 600;
	color: #15c7a8;
}

.post-tags a:hover {
	color: #abcbc5;
}

/* Content None */

.header-none {
	margin-bottom: 50px;
} 

/* PAGINATION */

.pagination {
	color: #3c4761;
}

.pagination a {
	color: #3c4761;
}

.pagination a:hover {
	color: #30bae7;
}

/* COMMENTS */

#comments {

}

.comments-area {
	background-color: #fff;
	padding: 30px;
	color: #3c4761;
}

.commentlist a {
	color: #15c7a8;
}

.comment-respond {
	position: relative;
	text-align: center;
}

.comment-respond:before {
	position: absolute;
	left: 0;
	content: '';
	height: 2px;
	width: 100%;
	background-color: #dfe8ed;
}

.comment-reply-title {
	padding-top: 16px;
}

.comment-reply-title a {
	color: #15c7a8;
}

.commentlist a:hover {
	color: #0d826e;
}

#cancel-comment-reply-link {
	color: #d74680;
}

.comment-form {
	width: 80%;
	margin: 0 auto;
}

.comment-form p {
	margin-bottom: 10px;
}

.comment-form label {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #30bae7;
	color: #fff;
}

.comment-respond label, .comment-respond input, .comment-respond textarea {
	display: block;
	width: 100%;
}

.comment-respond input, .comment-respond textarea {
	border: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #c8d9e5;
	color: #3c4761;
	font-family: 'Titillium Web', sans-serif;
	padding: 5px;
	font-weight: 600;
}

.comment-respond input {
	height: 40px;
}

.comment-respond .submit {
	margin: 10px auto 0 auto;
	height: auto;
	font-size: 16px;
	max-width: 300px;
	padding: 20px;
	border-radius: 5px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background-color: #30bae7;
	border-bottom: 3px solid #299ec5;
}

.comment-body {
	margin-bottom: 20px;
}

/* Search */

.search-content {

}

.search-header h1 {
	font-size: 25px;
	margin-bottom: 30px;
}

.search-form {
	text-align: center;
}

.search-form > * {
	display: block;
}

.search-form .section-title {
	font-size: 25px;
}

.search-field {
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #c8d9e5;
	width: 80%;
	margin: 20px auto;
	padding: 5px;
}

.search-submit {
	padding: 10px;
	margin: 0 auto;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 5px;
}

/* ========== PORTFOLIO PAGE =========== */

.portfolio-page-works {
	margin-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-page-work {
	margin-bottom: 30px;

}

.portfolio-page-work:last-child {
	margin-bottom: 0;
}

.portfolio-page-work header {
	padding: 5px;
	background-color: #eb7d4b;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.portfolio-page-thumbnail {
	background-color: #fff;
}

.portfolio-page-work img {
	width: 100%;
	height: auto;
	display: block;
}

.portfolio-page-content {
	background-color: #fff;
}

.portfolio-page-content a {
	padding: 5px;
	display: block;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.portfolio-page-content a:hover {
	background-color: #c86a40;
}

.portfolio-page-content p {
	padding: 5px;
}


/* Archive */

.archive-header {
	margin-bottom: 30px;
}

@media screen and (min-width: 576px) {
	
	/* Services */
	.service {
		float: left;
		width: 48%;
		margin-right: 2%;
	}

	.service:last-child {
		margin-right: 0;
	}

	/* Portfolio */

	.works {
		width: 80%;
		margin: auto;
	}

	.work-content {
		float: left;
		width: 48%;
		margin-right: 4%;
	}

	.work-content:nth-child(2n+0) {
		margin-right: 0;
	}

	/* ========= PORTFOLIO PAGE ========= */

	.portfolio-page-work {
		float: left;
		width: 49%;
		margin-right: 2%;
	}

	.portfolio-page-work:nth-child(2n+0) {
		margin-right: 0;
	}

}

@media screen and (min-width: 768px) {

	.section-p {
		width: 70%;
	}

	/* ========== HEADER ========== */

	.site-title {
		float: left;
	}

	/* Mobile Menu */
	.mobile-menu {
		float: right;
	}

	.mobile-menu-button {
		display: none;
	}

	.main-menu {
		display: block;
		background-color: transparent;
		border-radius: 0;
	}

	.home .main-menu {
		background-color: transparent;
	}

	.main-menu li {
		float: left;
		margin-right: 20px;
	}

	.main-menu li:last-child {
		margin-right: 0;
	}

	.home .main-menu li:hover {
		background-color: #643a79;
	}

	.main-menu li:hover {
		background-color: #a6ddef;
		border-radius: 5px;
	}

	/* ========== WELCOME ========== */
	/* ========== SERVICES ========== */

	.service {
		float: left;
		width: 22.75%;
		margin-right: 3%;
		margin-bottom: 0;
	}

	.service:last-child {
		margin-right: 0;
	}

	/* Portfolio */

	.portfolio-tags li {
		width: 49%;
		margin-right: 2%;
	}

	.portfolio-tags li:nth-child(2n+0) {
		margin-right: 0;
	}

	/* Testimonials */

	/*.testimonials .strong-view.default {
		width: 80%;
		margin: 0 auto;
	}

	.testimonials .strong-view.default .strong-content:after {
		content: '';
		clear: both;
		display: block;
	}

	.testimonials .strong-view.default .testimonial {
		float: left;
		width: 46%;
		margin-right: 4%;
		margin-bottom: 0;
	}

	.testimonials .strong-view.default .testimonial:nth-child(2n+0) {
		margin-right: 0;
	}

	.testimonials .strong-view.default .testimonial-content {
		font-style: italic;
	}

	.testimonials .strong-view.default .testimonial-name {
		text-transform: uppercase;
	}

	.testimonials .strong-view.default .testimonial-company {
		color: #ffdd99;
	}*/

	/* SKILLS */

	.circle {
		float: left;
		width: 50%;
	}

	/* ========== FOOTER ========== */

	.social-media li {
		float: left;
		width: 12.57%;
		margin-right: 2%;	
	}

	.social-media li:last-child {
		margin-right: 0;
	}

	/* PORTFOLIO TEMPLATE */

	/*.portfolio-page-work {
		width: 32%;
	}

	.portfolio-page-work:nth-child(2n+0) {
		margin-right: 2%;
	}

	.portfolio-page-work:nth-child(3n+0) {
		margin-right: 0;
	}*/
	

}

@media screen and (min-width: 992px) {

	/* Portfolio */

	.portfolio-tags li {
		width: 32%;
		margin-right: 2%;
	}

	.portfolio-tags li:nth-child(2n+0) {
		margin-right: 2%;
	}

	.portfolio-tags li:nth-child(3n+0) {
		margin-right: 0;
	}

	/* Skills */

	.circle {
		width: 25%;
	}

	/* BLOG */

	.posts {
		float: left;
		width: 80%;
		margin-bottom: 0;
	}

	.sidebar {
		float: left;
		width: 18%;
		margin-left: 2%;
	}

	.post-right {
		width: 69%;
	}

	.post-left {
		width: 29%;
		margin-right: 2%;
	}

	/* PORTFOLIO TEMPLATE */

	
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}

	/* Portfolio */

	.portfolio-tags li {
		width: 18.4%;
		margin-right: 2%;
	}

	.portfolio-tags li:nth-child(2n+0) {
		margin-right: 2%;
	}

	.portfolio-tags li:nth-child(3n+0) {
		margin-right: 2%;
	}

	.portfolio-tags li:nth-child(5n+0) {
		margin-right: 0;
	}
}	